@import url('https://fonts.googleapis.com/css?family=Barlow&display=swap');

:root{
  --light-font:grey;
}
body{
  font-family:'Barlow';
  margin: 0rem;
}
/* we will have 3 sizes of icons in this css so we will be using icon-1(smallest) icon-2(medium) icon-3(lagerest) */
.icon-1{
  width:0.5rem;
  height: 0.5rem;
}
.icon-2{
  width:1rem;
  height:1rem;
}
.icon-3{
  width:2rem;
  height:2rem;
}
.logo-icon{
  width:2.5rem;
  height:2.5rem;
}
/* we would have a general no-display and no-display for min and no-display for max */
.no-display{
  display: none;
}
.no-display-max{
  display: none;
}
/* shadow for btns */
.btn-shadow{
  box-shadow: #c5c5c5bd 0px 2px 10px;
}
.navbar{
  width:100vw;
  position: fixed;
  z-index:5;
}
nav{
  background-color: rgb(255, 255, 255);
  margin: 0.5rem auto;
  border-radius: 0.5rem;
  padding:1.5%;
  box-shadow:rgb(153, 153, 153) 1px 3px 10px ;
  display: flex;
  width:95%;
  justify-content: space-between;
}
.nav-options{
  display: flex;
  justify-content: space-between;
}
.nav-options a{
  color:black;
  text-decoration: none;
}
.nav-options>div{
  padding:0px 0.7rem;
  height: auto;
  margin:auto 0rem;
}
.nav-option-user img{
  width: 2rem;
  border-radius:50%;
}
.nav-option-user p{
  margin:0;
  font-size:x-small;
  text-align: center;
}
.nav-option-user a{
  color:black;
  text-decoration: none;
}
.nav-search{
  transform: translateY(0%);
  position: relative;
}
.nav-search>form{
display: flex;
}
.nav-search input{
  width:100%;
  background-color: rgba(241, 241, 241, 0.651);
  border-radius:0.5rem 0rem 0rem 0.5rem;
  padding:0.8rem;
  padding-left:1.2rem;
  border: none;
}
.nav-search input:focus-visible{
  outline: none;
}
.nav-search img{
  border: none;
  border-radius:1rem;
  position: absolute;
  left:-0.2rem;
  top:50%;
  transform: translate(50%,-50%);
  background-color: rgba(255, 255, 255, 0);
}
.nav-search button{
  padding:0.6rem 1.3rem;
  border: none;
  border-radius: 0rem  0.5rem 0.5rem 0rem ;
  color:white;
  background-color: black;
}
/* .mobile-side-bar{
  display:none;
} */
.top-banner{
  background-image: -webkit-linear-gradient(bottom ,rgba(255, 255, 255, 0.521),#9AFFF9, #3FC5FF);
  padding: 0% 5%;
  padding-top:5%;
}
.top-banner h2{
  padding-top:3%;
  color:white;
  font-size:60px;
  margin-bottom:0rem;
}
.top-banner h6{
  color: white;
}
.top-banner img{
  width: 40vw;
  height: 30vw;
  object-fit:cover;
  border-radius:2rem;
  border:solid white 10px;
}
.top-banner-content{
  display:flex;
  justify-content: space-between;
}
.top-banner-content p{
  margin-top:3rem;
  inline-size:40vw;
  font-size:2.5vw;
}
.top-banner-bottom-bar{
  width:8rem;
  height:0.8rem;
  border-radius:0.4rem;
  background-color: rgb(95, 95, 95);
  margin: 1rem auto;
  margin-top: 7rem;
}
.top-trending{
  padding:2rem 4rem;
}
.top-trending h3{
  font-size: x-large;
  font-weight: 400;
}
.trending-container{
  display: flex;
  width:100%;
  overflow-x: auto;
}
.trending-content{
  position: relative;
  margin-right:1rem;
  width: 10rem;
}
.trending-image{
  width:10rem;
  height:12rem;
  border-radius:5%;
  object-fit: cover;
}
.trending-icon{
  padding:0.4rem;
  border-radius:50%;
  background-color:rgba(255, 255, 255, 0.699);
  z-index:2;
  position: absolute;
  top:57%;
  left:68%;
}
.trending-container h6{
  margin-top:0.5rem;
  margin-bottom:1.2rem;
  inline-size: 99%;
}
.poll-banner-a{
  padding: 5rem 2rem;
  background-image:-webkit-linear-gradient(bottom right ,#56037C, #EBC1FF);
  position: relative;
  margin-bottom:1rem;
}
.poll-event-banner-h3{
  margin-top:2vw;
  font-size:10vw;
}
.poll-event-banner-icon{
  width:10rem;
  position: absolute;
  top: 40%;
  left:80%;
}
.poll-banner-b{
  padding: 2rem;
  background-color:#898989;
  margin-bottom:1rem;
}
.event-banner-a{
  padding:5rem 2rem;
  background-image:-webkit-linear-gradient(bottom right ,#C53B00, #E18700);
  position: relative;
  margin-bottom:1rem;
}
.event-banner-b{
  padding: 2rem;
  background-color:#3A1500;
  display: block;
  margin-bottom:1rem;
}
.poll-event-banner-text{
  margin-top:5rem;
  margin-bottom:5rem;
  inline-size:70%;
  font-size: large;
  margin-right: auto;
  margin-left: auto;
}
.polls-events-banner{
  display:grid;
  grid-template-columns:45% 55%;
  color:white;
}
.poll-event-banner-others{
  display: flex;
  width: 80%;
  height: auto;
  justify-content: space-between;
  margin: 0rem auto;
}
.poll-event-banner-others button{
  width:6rem;
  height:3rem;
  padding:1rem;
  border-radius:1.5rem;
  border:none;
  display:flex;
  justify-content: space-between;
}
.poll-event-circular-image{
  width: 3rem;
  height:3rem;
  border-radius:1.5rem;
}
.poll-event-circular-image:nth-child(2){
  margin-left:-1rem;
}
.poll-event-circular-image:nth-child(3){
  margin-left:-1rem;
}
.about-us{
  background-color: black;
  padding:2rem;
  color:white;
}
.about-us-card{
  padding:3rem 1.5rem;
  background-color: white;
  border-radius:1rem;
  color:black;
  width:25rem;
  margin:5rem auto;
  margin-bottom:1rem;
}
.about-us-icon{
  width:3rem;
}
.about-us-header{
  display:flex;
  font-size: larger;
}
.about{
  color:#BFBFBF;
  border-bottom:solid black 0.2rem;
}
.us{
  color:black;
  border-bottom:solid #BFBFBF 0.2rem;
  padding-left:0.2rem;
}
.about-us button{
  padding:0.8rem 1.5rem;
  width:5rem;
  border: none;
  color: white;
  background-color: black;
  border-radius:0.5rem;
  margin-left:20rem;
}
.blog-section{
  background-color:#D9D9D9;
  padding:2rem 4rem;
}
.blog-section h3{
  text-transform: uppercase;
  font-size:3rem;
  color:#2b2b2b;
  text-shadow: #181818;
  margin-bottom:0.5rem;
}
.blog-section>p{
  text-transform: uppercase;
  font-weight: 10;
  font-size: larger;
  color:#2b2b2b;
}
.blog-container{
  display: flex;
  flex-wrap: wrap;
  width: calc(100%-8rem);
  padding:4rem;
  justify-content:space-around;
}
.blog-card{
  background-color: white;
  padding:0.8rem;
  border-radius:1rem;
  margin:0rem auto;
  margin-bottom:1.5rem;
  width:18rem;
}
.blog-card h2{
  font-size:large;
  font-weight: 900;
}
.blog-card p{
  color: #2b2b2b;
  font-weight: 200;
  font-size: smaller;
}
.blog-card-image{
  width:18rem;
  height:12rem;
  border-radius:1rem;
  object-fit: cover;
}
.blog-card>div{
  display: flex;
  justify-content: space-between;
}
.blog-icon-container{
  display: flex;
}
.blog-icon-container p{
  color: #898989;
  margin-left:0.2rem;
}
.blog-more-samples{
  display: flex;
  width: 19rem;
  height: auto;
  justify-content: space-between;
  margin: 0rem auto;
  margin-top:auto;
  margin-bottom:1rem;
}
.blog-more-samples-image{
  width: 4rem;
  height:4rem;
  border-radius:1.5rem;
  margin-left:-1rem;
}
.blog-more-samples-image:first-child{
  margin-left:0rem;
}
.blog-more-samples button{
  width: 4rem;
  height:4rem;
  border-radius:2rem;
  border:none;
  background-color:white;
}
.contact-us{
  padding:4rem;
  background-color:#2b2b2b;
  color:white;
}
.contact-us h3{
  text-align: center;
  text-transform: uppercase;
  font-size: larger;
}
.contact-us>div{
  width:4rem;
  height:0.3rem;
  background-color: #aaaaaa;
  margin:0rem auto;
  position: relative;
  top:-1rem
}
.contact-us-form{
  width:30rem;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 2rem auto;
}
.contact-us-form>input{
  width:12.3rem;
  padding:0rem 1rem;
  margin-bottom:1rem;
  height:2rem;
}
.contact-us-form>input:nth-child(4){
  width:100%;
  height:7rem;
}
.contact-us-form>input[type='submit']{
  width:5rem;
  color:black;
  background-color: white;
  border:none;
  border-radius:0.2rem;
  display: inline;
  margin-left: auto;
}
.footer{
  width:100%;
  padding-top:2rem;
  background-color: whitesmoke;
  padding-bottom:1rem;
  
}
.footer h3{
  text-align: center;
}
.footer-line{
  width:4rem;
  height:0.2rem;
  border-radius:0.1rem;
  background-color: #161616;
  margin:0rem auto;
  position: relative;
  top:-1rem
}
.footer-icons{
  display: flex;
  
  justify-content: space-between;
  width: 8rem;
  margin: 0rem auto;
  margin-bottom:2rem;
}
.footer-bottom{
  text-align: center;
  font-size: small;
  margin-bottom: 0.5rem;
}
.poll-header{
  padding:3rem;
  background-color: black;
  color:white;
}
.poll-header p{
  color: #acacac;
}
.poll-header h3{
  font-size:2rem;
}
.poll-page-content{
  padding:2rem;
  background-color: #f3f3f3;
  position: relative;
}
.poll-page-content h5{
  font-size:x-large;
  font-weight: 200;
}
.poll-page-content h5::before{
  content: "";
  position:absolute;
  border-bottom:4px solid #2b2b2b;
  width:3rem;
}
.poll-card-container{
  width:100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
}

.poll-card{
  background-color: white;
  padding:0.5rem;
  width:20rem;
  border-radius:1rem;
  color: #424242;
  margin: 0rem auto;
  margin-bottom:1rem;
  margin-right: auto;
}

.poll-card>div{
  padding:0.5rem;
}
.poll-card-img{
  width:100%;
  border-radius:0.5rem;
}
.poll-card-header{
  display: flex;
  justify-content: space-between;
}
.poll-card-header-text{
  font-weight: 700;
  color:black;
  inline-size:80%;
  margin-bottom:0.5rem;
}
.poll-card-header-num{
  color: #C53B00;
}
.poll-card-header p{
  margin:0 auto;
}
.poll-card-bottom{
  display: flex;
  margin-top:1.5rem;
  font-size: smaller;
}
.poll-card-bottom>div{
  margin-right: 1.5rem;
  display: flex;
}
.poll-card-bottom>div>div{
  margin-left:0.2rem;
  margin-top:0rem;
}
.load-more{
  padding:1rem;
  background-color:black;
  color:white;
  width:6rem;
  margin: 0rem auto;
  margin-top: 5rem;
  text-align: center;
}
.contest-banner{
  width:100%;
  height:80vh;
  object-fit: cover;
}
.contest-info{
  padding:5vw;
  padding-top:2vw;
}
.contest-line{
  width:90%;
  height:1px;
  background-color:black;
  margin:auto;
}
.contest-office-headers{
  margin-top:3rem;
  display:flex;
  justify-content: space-between;
  font-size: larger;
  font-weight: 800;
  height:3rem;
}
.contest-office-headers>div:first-child{
  margin-top:1rem;
  font-weight: 300;
  text-transform: capitalize;
  font-size: x-large;
}
.drop-down{
  width:3rem;
  height:3rem;
  border-radius:50%;
  background-color: #ffffff;
}
.drop-down img{
  margin:1rem;
  rotate:90deg;
}
.office-contenders{
  margin:5%;
  margin-top:2.5rem;
  width:90%;
  display:flex; 
  flex-wrap:wrap;
  flex-direction:row;
  justify-content: space-between;
}
.office-contender-card{
  width:20rem;
  border-radius:1.5rem;
  box-shadow: #9c9c9c 0px 2px 10px;
  margin-bottom: 1rem;
  align-self: flex-end;
  
}
.office-contender-card h3{
  margin:0rem auto;
}
.office-contender-info{
  padding:1rem;
}
.office-contender-image{
  width:100%;
  height:18rem;
  object-fit: cover;
  border-radius: 1.5rem 1.5rem 0rem 0rem;
}
.office{
  background-color: #DEF1FF;
  color: #0094FF;
  width:max-content;
  font-size: smaller;
  border-radius:1rem;
  padding:0.3rem 0.6rem;
}
.office-contender-card-bottom{
  display: flex;
  justify-content: space-between;
  margin-top:1rem;
}
.office-contender-card-bottom>div{
  height:4rem;
}
.office-contender-card-votes{
  position: relative;
  display: flex;
}
.votes-percent{
  position: absolute;
  top:5%;
  left:50%;
  transform: translateX(-50%);
  font-size: medium;
  font-weight: 500;
}
.votes-text{
  color: rgb(70, 70, 70);
  position:relative; 
  left:4rem;
  top:-1.5rem;
}
.office-contender-btn{
  background-color: #ffffff;
  width:4rem;
  height:4rem;
  border-radius:50%;
  box-shadow: #9c9c9c 0px 2px 10px;
  animation-name:candidate-advance;
  animation-duration:1s;
  animation-iteration-count:infinite;
  animation-direction: alternate;
}
@keyframes candidate-advance{
  from{box-shadow: #9c9c9c 0px 2px 10px}
  to{box-shadow:#9c9c9c 0px 0px 2px}
}
.office-contender-btn img{
  margin:1rem;
}
.vote-progress-bar{
  background-color: #ffffff;
  height:3rem;
  width:3rem;
  border-radius: 50%;
  border: solid #DFFFE2 5px;
}
.office-contender-card-votes svg{
  width:4rem;
  height:4rem;
  position: absolute;
  top:0;
  left:0;
}
.office-contender-card-bottom circle{
  stroke:#01C915 ;
  stroke-width:5;
  fill:rgba(0, 255, 149, 0);
  stroke-dasharray:250;
  /* stroke-dashoffset:90; */
  stroke-linecap: round;
}
.contest-bottom{
  display:flex;
  width:90%;
  justify-content:space-evenly;
  margin: 2rem auto;
  flex-wrap:wrap;
}
.contest-bottom>div{
  width:20rem;
  height:20rem;
  background-color:white;
  box-shadow:rgba(87, 87, 87, 0.575) 1px 3px 10px;
  margin-bottom:2rem;
  border-radius:0.7rem;
}
.contest-bottom img{
  width:5rem;
  padding:1rem;
  margin: 4rem 6.5rem;
  border-radius:50%;
}
.contest-bottom-img1{
  background-color: #9589ffa4;
}
.contest-bottom-img2{
  background-color: #ff5353ad;
}
.contest-bottom p{
  text-align: center;
}
.candidate-page{
  margin: 2rem auto;
  width:70%;
  border-radius:2rem;
  background-color:white;
  box-shadow:rgb(199, 199, 199) 1px 2px 10px;
  display:grid;
  grid-template-columns:1fr 2fr;
}
.candidate-page-img{
  width:95%;
  height:auto;
  border-radius:2rem 2rem 2rem 2rem;
  object-fit: cover;
  padding:2.5%;
}
.candidate-page-header{
  display:flex;
  justify-content: space-between;
  padding-right:2rem;
}
.candidate-page-header h4{
  margin:0rem;
  color: #01C915;
  font-size: 2rem;
}
.candidate-page-header p{
  margin-top:0rem;
  color: #898989;
}
.candidate-page-header h1{
  margin:0rem;
}
.candidate-page-about{
  inline-size:100%;
}
.candidate-page-details{
  padding:1.5rem;
}
.coupon-btn{
  background-color:#023947;
  color:rgb(255, 255, 255);
  width:83%;
  border:none;
  padding:1rem;
  margin: 1rem 8%;
  border-radius:0.5rem;
}
.coupon-form{
  display: block;
  width: 80%;
  padding-top: 3rem;
  margin: 2rem auto;
  position:relative;
}
.close-coupon-vote{
  position: absolute;
  top:0.2rem;
  right:-0.3rem;
  background: none;
  border:none;
}
.coupon-form input[type="text"]{
  padding: 7%;
  width: 86%;
  background-color: #D9D9D9;
  color: black;
  border-radius: 0.5rem;
  border: none;
}
.coupon-form input[type="submit"]{
  padding: 1rem;
  width: 50%;
  margin: 1rem 24.99%;
  border-radius: 0.625rem;
  background-color: #000;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: rgb(255, 255, 255);
  border-radius: 0.5rem;
  border: none;
}
.coupon-form p{
  text-align: center;
}
.coupon-form span>a{
  color: #A0FBF5D9;
  text-decoration: none;
}
.or{
  color: #424242;
  text-align: center;
}
.select-vote-count{
  display:flex;
  width:min-content;
  margin:0rem auto;
  margin-bottom:2rem;
  justify-content: space-between;
}
.vote-count-btn{
  padding:1rem;
  border-radius:50%;
  border:none;
  background-color: black;
}
.select-vote-count input[type="number"]{
  background-color:white;
  border:none;
  font-size:1.6rem;
  text-align: center;
  color:black;
  width:5rem;
  appearance:textfield;
}
.select-vote-form input[type="email"]{
  background-color: #bdbdbd;
  color: black;
  border:none;
  border-radius:0.5rem;
  width:75%;
  padding:1rem;
  margin: 1rem 7.49%;
  text-align: center;
}
.select-vote-form input[type="submit"]{
  background-color:black;
  color: rgb(255, 255, 255);
  width: 40%;
  padding:1rem;
  margin:0rem 30%;
  border-radius:0.5rem;
  border: none;
}
.candidate-vote-payment{width:100%;}
.candidate-vote-payment>div:first-child{
  width:18rem;
  height:10rem;
  padding: 1rem;
  background-color: white;
  margin:0rem auto;
  margin-bottom:3rem;
  box-shadow: #42424263 0px 3px 10px;
  border-radius:1rem;
}
.candidate-vote-payment p{
  inline-size:80%;
  text-align: center;
  margin: 1.5rem auto;
  margin-bottom:3rem;
}
.payment-amout{
  color: #01C915;
  font-size: xx-large;
  text-align: center;
}
.candidate-vote-payment-button{
  margin: 0rem auto;
  border:none;
  width:18rem;
  padding:1rem;
  text-align: center;
  background-color:black;
  color:white;
  font-size:larger;
  border-radius:0.5rem;
  box-shadow: #42424263 0px 3px 10px;
  margin-bottom: 5rem;
}
.search-form{
  position: relative;
}
.search-form>input[type='search']{
  padding:8vw 5vw;border:none;border-radius:1rem;
  width:100%;box-shadow:inset 2px 2px 5px rgb(167, 167, 167);
  margin: 0rem; height:3rem;
}
.nav-bar-caution{
  padding-top:5rem;
}
.success-message{
  position: fixed;
  z-index:4;
  top:6rem;
  left:4.5%;
  right:auto;
  width:90%;
  padding: 1rem 0.5rem;
  margin: 1rem auto;
  color:#00b612;
  font-weight: 500;
  font-size: small;
  background: #eeffe8;
  border: solid 0.05rem #00b612;
  border-radius:1rem ;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
.error-message{
  position: fixed;
  z-index:4;
  top:6rem;
  left:4.5%;
  right:auto;
  width:90%;
  padding: 1rem 0.5rem;
  margin: 1rem auto;
  color:#e20000;
  font-weight: 500;
  font-size: small;
  background-color: #ffe3e3;
  border: solid 0.05rem #e20000;
  border-radius:1rem ;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.warning-message{
  position: fixed;
  z-index:4;
  top:6rem;
  left:4.5%;
  right:auto;
  width:90%;
  padding: 1rem 0.5rem;
  margin: 1rem auto;
  color:#ff7700;
  font-weight: 300;
  font-size: small;
  background-color: #fff1de;
  border: solid 0.05rem #ff7700;
  border-radius:1rem ;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.info-message{
  position: fixed;
  z-index:4;
  top:6rem;
  left:4.5%;
  right:auto;
  width:90%;
  padding: 1rem 0.5rem;
  margin: 1rem auto;
  color:#2f00ff;
  font-weight:500;
  font-size: small;
  background-color: #e0ebff;
  border: solid 0.05rem #2f00ff;
  border-radius:1rem ;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.coupon-card{
  color: white;
  padding: 2rem;
  max-width:15rem;
  margin: 0rem auto ;
  margin-bottom: 3rem;
}
.coupon-card>div{
  display: flex;
  justify-content: space-between;
}
.coupon-remove{
  background-color: #D9D9D9;
  color: white;
  border: none;
  border-radius: 0.5rem;
  padding: 1rem 1.2rem;
  font-size: larger;
  height: 3rem;
  margin: auto 0rem;
}
.coupon-add{
  background-color: #0094FF;
  color: white;
  border: none;
  padding:1rem 1.2rem;
  border-radius: 0.5rem;
  height: 3rem;
  margin: auto 0rem;
}
.coupon-card>div p{
  font-size: x-large;
  font-weight: 600;
  color: black;
}
.coupon-card>p{
  font-size: small;
  text-align: center;
  color: #000;
}
.coupon-card>p span{
  color: #01C915;
}
.coupon-card>form>button{
  border: none;
  background-color: #000;
  color: white;
  width: 70%;
  margin: 2rem 14.9%;
  padding: 1rem;
  border-radius: 0.5rem;
}
.time-left{
  width:40%;
  margin:2rem auto;
  display: flex;
  justify-content: space-between;
}
.time-left>div{
  display: flex;
}
.time-left>div::after{
  content:":";
  font-size: x-large;
  color: #00000052;
}
.time-left>div:last-child::after{
  content: "";
}
.time-left-digits{
  background-color: #00ff1a1f;
  width: fit-content;
  padding:0.2rem 0.5rem;
  color: #007b0c;
  font-size:x-large;
  border-radius:0.4rem;
}
.time-left-units{
  color: #00b612;
}
.polls-trending{
  color: rgb(245, 125, 245);
  background-color: #41005f89;
  width: fit-content;
  position: absolute;
  top:0.5rem;
  right:0.5rem;
  padding:0.2rem;
  border-radius: 0.3rem;
}
.event-trending{
  color: rgb(63, 17, 0);
  background-color: #f48b3650;
  width: fit-content;
  position: absolute;
  top:0.5rem;
  right:0.5rem;
  padding:0.2rem;
  border-radius: 0.3rem;
}
.blog-trending{
  color: rgb(39, 48, 49);
  background-color: #c6e8ee86;
  width: fit-content;
  position: absolute;
  top:0.5rem;
  right:0.5rem;
  padding:0.2rem;
  border-radius: 0.3rem;
}
.ended{
  background-color: rgba(255, 0, 0, 0.315);
  color:rgb(114, 0, 0);
  font-size:medium;
  text-transform: uppercase;
  border-radius:0.5rem;
  padding:1rem;
  width:fit-content;
  margin: 0rem auto;
}
.loading_page{
  background-color:rgba(255, 255, 255, 0.953);
  position:fixed;
  z-index:10;
  top:0;
  width:100%;
  height:100%;
  overflow-y: hidden;
}
.loading_page div{
  width:7rem;
  margin:45vh auto;
}
.loading_page img{
  width:60%;
  margin: 0rem 20%;
}
.total-votes-card{
  display: grid;
  grid-template-columns: 2fr 1fr;
  max-width:17rem;
  min-width: 14rem;
  margin: 0rem auto;
  border-radius: 0.5rem;
  margin-top: 7rem;
  box-shadow: 0px 2px 5px grey;
  padding: 1rem 1rem;
}
.total-votes-card h2{
  margin-top:0rem;
  margin-bottom:0.1rem;
  font-weight: 300;
  margin-left: 0.4rem;
}
.total-votes-card p{
  color: #0836cd;
  font-size:xx-large;
  font-weight: 700;
  margin-top: 0.2rem;
  margin-bottom:0.5rem;
  margin-left: 0.4rem;
}
.total-votes-card span{
  color: #424242ce;
  margin-left: 0.4rem;
}
.voting-image-container{
  background-color: #3352ba45;
  width:3rem;
  height:3rem;
  border-radius: 1.5rem;
  margin: auto;
}
.voting-image-container img{
  width: 1.5rem;
  margin: 0.75rem;
}
.coupon-generator-form input[type="email"]{
  width: 90%;
  margin-top: 2rem;
  padding: 1rem 5%;
  border: solid black 1.5px;
  background-color: #f3f3f3d7;
  color: #161616;
  font-weight: 500;
  border-radius: 5px;
}
.button-loader{
  width:1.5rem;
}
.vote-payment-processing{
  text-align: center;
  background-color: black;
  color: white;
  padding:1rem 0rem;
}
.navbar-search-results{
  display: flex;
  justify-content: space-between;
  position: fixed;
  top:8rem;
  background-color: white;
  width:90%;
  padding:2.5%;
  border-radius:1rem;
  margin: 0rem 2.5%;
  z-index:4;
  box-shadow: #777777c7 1px 2px 15px;
}
.navbar-search-results button{
  height: fit-content;
  color: white;
  background-color: #000;
  padding:0.5rem;
  border:none;
  border-radius:0.3rem;
}
.search-result{
  display: flex;
  margin: 2.5rem 0rem;
}
.search-result h4{
  margin: 0rem 1rem;
  margin-right:0rem;
}
.search-result p{
  color: #424242;
  margin: 0rem;
}
.search-result span{
  font-size: large;
  margin:0rem 0.5rem;
  font-weight: 200;
  width:fit-content;
}
.login-container{
  background-color: white;
  padding:0.8rem;
  display: block;
}
.login-container >form{
  position: relative;
  margin: 6rem auto;
  width:17rem;
  display: block;
  padding: 1.6rem;
  box-shadow: #b1b1b198 1px 2px 10px;
  border-radius:1rem;
}
.login-container input{
  width:97%;
  height:2.7rem;
  background-color: #f0f0f0;
  margin: 0;
  border-radius:0.3rem;
  border-style:dashed;
  border-width: 2px;
  margin-bottom: 1rem;
  border-color: #888888;
  border-spacing:2rem;
  /* border: none;
  stroke:#023947;
  stroke-dashoffset:84;
  stroke-dasharray: 31 23;
  stroke-linecap:square;
  stroke-width:0.5rem; */
}

.login-container input[type="submit"]{
  background-color:#161616;
  border: none;
  height:3rem;
  font-size: large;
  color:white;
  width:100%;
  margin-top:0rem;
}
.login-container label{
  font-weight: 600;
  color: #161616;
}
.login-container h1{
  margin-top: 0rem;
  margin-bottom: 3rem;
}
.login-container h1::after{
  content: "";
  position: absolute;
  top:10%;
  left:8%;
  border-bottom: 4px solid #2b2b2b;
  width:3rem;
}
.login-container p{
  text-align: center;
  margin-bottom: 1rem;
}
.login-container p>span{
  color: #0094FF;
}
.google-sign-in{
  width:70%;
  display: flex;
  justify-content:space-around;
  box-shadow: #9e9e9ea2 1px 2px 10px;
  padding: 1rem 10%;
  margin: 1rem auto;
  margin-top:3rem;
  border-radius: 0.5rem;
}
.google-sign-in img{
  width: 1.5rem;
}
.sign-up-container{
  background-color: white;
  padding:0.8rem;
  display: block;
}
.sign-up-container >form{
  position: relative;
  margin: 9rem auto;
  width:17rem;
  display: block;
  padding: 1.6rem;
  box-shadow: #8d8d8d98 1px 2px 10px;
  border-radius:1rem;
}
.sign-up-container input{
  width:97%;
  height:2.7rem;
  background-color: #f0f0f0;
  margin: 0;
  border-radius:0.3rem;
  border-style:dashed;
  border-width: 2px;
  margin-bottom: 1rem;
  border-color: #888888;
  border-spacing:2rem;
  /* border: none;
  stroke:#023947;
  stroke-dashoffset:84;
  stroke-dasharray: 31 23;
  stroke-linecap:square;
  stroke-width:0.5rem; */
}

.sign-up-container input[type="submit"]{
  background-color:#161616;
  border: none;
  height:3rem;
  font-size: large;
  color:white;
  width:100%;
  margin-top:3rem;
}
.sign-up-container label{
  font-weight: 600;
  color: #161616;
}
.sign-up-container h1{
  margin-top: 0rem;
  margin-bottom:2rem;
}
.sign-up-container h1::after{
  content: "";
  position: absolute;
  top:8%;
  left:8%;
  border-bottom: 4px solid #2b2b2b;
  width:3rem;
}
.sign-up-container p{
  text-align: center;
  margin-bottom: 3rem;
}
.sign-up-container p>span{
  color: #0094FF;
}
.verfy-email-wating-container{
  padding:13rem 0.5rem;
}
.verfy-email-wating{
  width: 15rem;
  background-color: #000;
  color: white;
  margin: 0rem auto;
  margin-bottom:5rem;
  padding:1rem;
  border-radius:0.5rem;
}
.profile-container{
  padding:2rem;
  width:14rem;
  margin: 2rem auto ;
  margin-top:5rem;
  box-shadow: 1px 2px 10px rgba(167, 167, 167, 0.712);
  border-radius:.7rem;
}
.profile-container img{
  width: 5rem;
  border-radius:50%;
  margin: 0rem 4.5rem;
}
.profile-container h4{
  text-align: center;
  margin-bottom:0.5rem;
}
.user-status{
  width: fit-content;
  margin: 0rem auto;
  padding:0.5rem 1rem;
  color: #00840D;
  background-color:#5fff5c59;
  border-radius:0.3rem;
}
.user-email{
  margin:1rem 0rem ;
  margin-bottom:3rem;
  padding:1rem;
  background-color: #f0f0f0;
  /* color: #00b612; */
  color:#000;
  border-radius:0.7rem;
}
.user-email h5{
  margin: 0rem;
  font-weight: 100;
}
.profile-container button{
  background-color: #747474;
  width:max-content;
  color:white;
  border:none;
  border-radius:0.3rem;
  padding:0.4rem 1.2rem;
  margin:1rem 4.5rem;
}
.profile-container p{
  font-size: x-small;
  font-weight: 200;
  text-align: center;
}
.poll-profile{
  padding:2rem;
  width:14rem;
  margin: 2rem auto ;
  margin-top:3rem;
  box-shadow: 1px 2px 10px rgba(167, 167, 167, 0.712);
  border-radius:.7rem;
}
.poll-profile>p{
  text-align: center;
}
.poll-profile>div{
  display: flex;
  position: relative;
  width:100%;
  justify-content: space-between;
  margin-top:1rem;
}
.poll-profile>div button{
  background-color:#7400BB;
  color:white;
  height:2rem;
  margin-top:0.5rem;
  border: none;
  box-shadow: 1px 2px 10px rgb(187, 187, 187);
  border-radius:0.2rem;
  
}
.poll-profile>div p{
  margin-bottom:0rem;
  font-weight:700;
}
.poll-profile>button{
  margin: 0rem 1.1rem;
  width:max-content;
  padding:1rem 2.5rem;
  border-radius:0.5rem;
  border:none;
  background-color:#0094FF;
  color:white;
  margin-top:3rem;
  font-size: large;
  font-weight: 800;
}
.password-recovery-container{
  padding:1rem;
  width:15rem;
  box-shadow: 1px 2px 10px rgba(168, 168, 168, 0.644);
  margin: 10rem auto;
  margin-top: 10rem;
  border-radius:0.5rem;
}
.password-recovery-container input[type="email"]{
  padding:1rem;
  width:80%;
  margin: 0rem calc(10% - 1rem);
  border-radius:0.5rem;
  border:none;
  background-color:rgba(217, 217, 217, 0.28);
  margin-bottom:1rem;
}
.password-recovery-container button{
  padding:1rem 0.4rem;
  width:80%;
  margin: 0rem calc(10% - 1rem);
  border:none;
  border-radius:0.5rem;
  background-color:rgb(0, 0, 0);
  color:white;
  margin-bottom:1rem;
}
.password-recovery-container p{
  font-size: small;
}
.reset-forgotten-password{
  padding:1rem;
  width:15rem;
  box-shadow: 1px 2px 10px rgba(168, 168, 168, 0.644);
  margin: 10rem auto;
  margin-top: 10rem;
  border-radius:0.5rem;
}
.reset-forgotten-password button{
  padding:1rem 0.4rem;
  width:93%;
  margin: 0rem calc(10% - 1rem);
  border:none;
  border-radius:0.5rem;
  background-color:rgb(0, 0, 0);
  color:white;
  margin-bottom:1rem;
}
.reset-forgotten-password input{
  padding:1rem;
  width:80%;
  margin: 0rem calc(10% - 1rem);
  border-radius:0.5rem;
  border:none;
  background-color:rgba(217, 217, 217, 0.28);
  margin-bottom:1rem;
}
.reset-forgotten-password h2{
  inline-size:90%;
  margin:3rem auto;
  margin-top:1rem;
  font-size:1.2rem;
}
.side-menu-item img{
  width:3rem;
  border-radius:50%;
}
.loading-button{
  padding:1rem 0.4rem;
  width:99%;
  margin: 0rem;
  border:none;
  border-radius:0.5rem;
  background-color:rgb(0, 0, 0);
  color:white;
  margin-bottom:1rem;
}
.create-poll-container{
  width:20rem;
  margin: 2rem auto;
  margin-top: 7rem;
  position: relative;
}
.create-poll-checkpoint{
  width:80%;
  height:2px;
  background-color: rgb(228, 243, 255);
  margin: 0.5rem auto;
}
.checkpoint-circle-container{
  width:80%;
  display:flex;
  justify-content:space-between;
  position: absolute;
  top:-0.7rem;
  left: 10%;

}
.checkpoint-circle{
  width: 1.5rem;
  height: 1.4rem;
  padding-top:0.1rem;
  border-radius:50%;
  background-color: #e9e9e9;
  color: white;
  text-align: center;
}
.create-poll-step{
  width: 80%;
  padding:2%;
  margin: 4rem auto;
  background-color:rgb(255, 255, 255);
  border-radius:1.2rem;
  box-shadow: 1px 2px 10px rgba(204, 204, 204, 0.644);
}
.create-poll-step h3{
  text-align: center;
  margin: 0.5rem 0rem;
}
.create-poll-step input{
  border: none;
  width: 76%;
  background-color: #eeeeee;
  padding: 1rem;
  border-radius:0.3rem;
  margin:1rem;
}
.create-poll-step button{
  width:88%;
  margin:1.4rem 7%;
  background-color: black;
  color: white;
  font-weight: 600;
  font-size:medium;
  border: none;
  padding:1rem 0.8rem;
  border-radius:0.3rem;
}
.create-poll-step label{
  padding-left:7%;
  color: #868686;
  font-size:smaller;
}
.create-poll-step select{
  border: none;
  width: 88%;
  background-color: #ffffff;
  box-shadow: 1px 2px 10px rgba(214, 214, 214, 0.575);
  padding: 1rem;
  border-radius:0.3rem;
  margin:1rem;
  -moz-appearance:none; /* Firefox */
  -webkit-appearance:none; /* Safari and Chrome */
  appearance:none;
  background-image: url("/assets/icons/arrow-short-down.svg");
  background-repeat: no-repeat;
  background-size:2rem 2rem;
  background-position:95% 0.5rem;
}
.creat-poll-option-date{
  width: 88%;
  box-shadow: 1px 2px 10px rgba(214, 214, 214, 0.575);
  padding: 1rem;
}
.creat-poll-option-date::-webkit-calendar-picker-indicator{
  display: block;
  appearance:none; /* Firefox */
  -webkit-appearance:none; /* Safari and Chrome */
  background:url("/assets/icons/calendar.svg");
  background-repeat: no-repeat;
  background-size: contain;
  opacity:1;
  border-width:thin;
  
}
.creat-poll-option-time{
  width: 88%;
  box-shadow: 1px 2px 10px rgba(214, 214, 214, 0.575);
  padding: 1rem;
}
.creat-poll-option-time::-webkit-calendar-picker-indicator{
  appearance:none; /* Firefox */
  -webkit-appearance:none; /* Safari and Chrome */
  background:url("/assets/icons/timer.svg");
  background-repeat: no-repeat;
  background-size: contain;
  opacity:1;
  border-width:thin;
}
.creat-poll-option-file{
  margin-left:0rem;
  color: #888888;
  width: 95%;
}
.creat-poll-option-file::-webkit-file-upload-button{
  background-color: #406970;
  box-shadow: 1px 2px 10px rgba(214, 214, 214, 0.575);
  padding:0.5rem;
  width:6.5rem;
  color:white;
  height:2.5rem;
  border:none;
  border-radius: 0.5rem;
}
.activate-poll>h4{
  margin-top:2rem;
  margin-left:10%;
}
.activate-poll>p{
  font-size: smaller;
  color: #2b2b2b;
  inline-size:80%;
  margin: 0.2rem auto;
}
.activate-poll>form>div{
  padding: 1rem 1.5rem;
  width:10rem;
  margin:2rem auto;
  border-radius:0.5rem;
  box-shadow: 1px 2px 10px rgba(214, 214, 214, 0.575);
  text-align: center;
}
.activate-poll>form>div input{
  margin:0rem auto;
}
.activate-poll>form>div>p{
  margin-top:0rem;
}
.activate-poll>form>div>h2{
  color: #0094FF;
}
.finally-create-poll p{
  inline-size:80%;
  margin: 1rem auto;
}
@media only screen and (max-width:800px){
  .office-contender-card{
    margin: 0rem auto;
    margin-bottom:1rem;
  }
}
/* for mobile devices */
@media only screen and (max-width:600px){
  .no-display-max{
      display: block;
  }
  .no-display-mini{
      display:none;
  }
  .navbar>nav{
      padding:3.5% 2.5%;
      width:90%;
  }
  .top-banner h2{
      padding-top:10%;
      color:white;
      font-size:60px;
      margin-bottom:0rem;
  }
  .top-banner-content{
      display:block;
  }
  .top-banner img{
      width: 80%;
      height: 60%;
      border:solid white 8px;
      margin-left:15%;
      margin-top: 15%;
  }
  .top-banner-content p{
      margin-top:3rem;
      inline-size:90%;
      font-size:5vw;
  }
  .top-trending{
      padding:2rem 2rem;
  }
  .polls-events-banner{
      grid-template-columns: auto;
  }
  .poll-banner-text{
      margin-top:5rem;
  }
  .poll-event-banner-icon{
    width:10rem;
    top:50%;
    left:50%;
  }
  .poll-event-banner-text{
    margin-top:5rem;
    inline-size:100%;
    float: left;
  }
  .poll-event-banner-others{
      width: 100%;
  }
  .about-us-card{
      width:calc(100% - 2rem);
      padding:2.5rem 1rem;
  }
  .about-us button{
      margin-left:11rem;
  }
  .poll-banner-a{
      margin-bottom:0rem;
  }
  .event-banner-a{
      margin-bottom:0rem;
  }
  .blog-section{
      padding:2rem;
  }
  .blog-container{
      padding:0rem;        
  }
  .contact-us{
      padding:2rem
  }
  .contact-us-form>input{
      width:100%;
      
  }
  .contact-us-form{
      width:90%;
      display:flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 2rem auto;
  }
  .office-contenders{
      grid-template-columns: 2fr;
  }
  .office-contender-card{
    margin: 0rem auto;
    margin-bottom:1rem;
  }
  .contest-banner{
      height:50vh;
  }
  .candidate-page{
      margin: 2rem auto;
      width:80%;
      display: block;
  }
  .candidate-page-img{
      width:95%;
      border-radius:2rem 2rem 0rem 0rem;
      padding:2.5%;
  }
  .candidate-page-header{
      padding-right:0rem;
  }
  .candidate-page-header p{
    float: right;
  }
  .candidate-page-details{
      padding:4%;
  }
  .select-vote-count{
      max-width:80%;
  }
  .select-vote-form input[type="email"]{
      width:70%;
      margin:1rem 10%;
  }
  .slide-in-sections{
      width:85vw;
      height:calc(90vh - 5rem);
      padding:5vw;
      background-color:rgb(255, 255, 255);
      border-radius:0.5rem;
      position:fixed;
      left:0;right:0;
      top:5rem;
      margin:1rem auto;
  }
  .mobile-side-bar{
      z-index:11;
      animation-name: mobile-side-bar;
      animation-duration:0.3s;
      animation-timing-function: ease-out;
  }
  @keyframes mobile-side-bar {
      from{transform: translateX(100vw);}to{transform: translateX(0vw)}
  }
  .mobile-side-bar-close{
      z-index:11;
      animation-name: mobile-side-bar-close;
      animation-duration:0.1s;
      animation-timing-function: ease-out;
  }
  @keyframes mobile-side-bar-close {
      from{transform: translateX(0vw);}to{transform: translateX(100vw)}
  }
  .side-menu-content{
    display: block;
    padding:3rem 0rem;
    padding-top:0.5rem;
  }
  .side-menu-content a{
    text-decoration: none;
    color:black;
  }
  .side-menu-item{
      padding:1.5rem 1rem;
      border-radius:0.5rem;
      margin:0.2rem 0rem;
  }
  .side-menu-item a{
    text-decoration: none;
    color: #000;
  }
  .side-menu-item:active{
      background-color: #D9D9D9;
  }
  .nav-bar-btn-animation{
      animation-name: nav-bar-anime;
      animation-duration:0.6s;
      animation-timing-function: ease-out;
  }
  @keyframes nav-bar-anime{
      from{opacity:0;}to{opacity:1;}
  }
  .search-section{
      position:fixed;
      z-index:9;
      animation-name: mobile-search;
      animation-duration:0.3s;
      animation-timing-function: ease-out;
  }
  @keyframes mobile-search {
      from{transform: translateX(-100vw);}to{transform: translateX(0vw)}
  }
  .search-section-close{
      position:fixed; 
      z-index:9;
      animation-name: mobile-search-close;
      animation-duration:0.1s;
      animation-timing-function: ease-out;
  }
  @keyframes mobile-search-close {
      from{transform: translateX(0vw);}to{transform: translateX(-100vw)}
  }
  .search-results-page{
      background-color: rgb(255, 255, 255);
  }
  .successful-message{
    max-width:70%;
  }
  .successful-message{
    max-width: 70%;
  }
  .time-left{
    width:60%;
  }
  .info-message{
    top:4.5rem;
    left:2.5%;
  }
  .error-message{
    top:4.5rem;
    left:2.5%;
  }
  .warning-message{
    top:4.5rem;
    left:2.5%;
  }
  .success-message{
    top:4.5rem;
    left:2.5%;
  }
}