{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Polls</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <section>
        <div class="poll-header">
            <p>Hello, you there!!!!</p>
            <h3>Let's Explore and find your Contests</h3>
        </div>
    </section>
    <section>
        <div class="poll-page-content">
            <h5>Recent Contests</h5>
            <div class="poll-card-container">
                <div class="poll-card">
                    <img src="{% static 'images/profile2.png' %}" alt="" class="poll-card-img">
                    <div>
                        <div class="poll-card-header">
                            <div class="poll-card-header-text">Mr and Mrs Nigeria</div>
                            <div>
                                <p class="poll-card-header-num">2.4k</p>
                                <div>votes</div>
                            </div>
                        </div>
                        <div>
                            4th November, 2023
                        </div>
                        <div class="poll-card-bottom">
                            <div>
                                <img src="{% static 'icons/location.svg' %}" alt="location-icon" class="icon-2">
                                Abuja
                            </div>
                            <div>
                                <img src="{% static 'icons/naira.svg' %}" alt="location-icon" class="icon-2">
                                40
                            </div>
                        </div>
                    </div>
                </div>
                <div class="poll-card">
                    <img src="{% static 'images/profile1.png' %}" alt="" class="poll-card-img">
                    <div>
                        <div class="poll-card-header">
                            <div class="poll-card-header-text">Mr and Mrs Winter</div>
                            <div>
                                <p class="poll-card-header-num">23k</p>
                                <div>votes</div>
                            </div>
                        </div>
                        <div>
                            4th November, 2023
                        </div>
                        <div class="poll-card-bottom">
                            <div>
                                <img src="{% static 'icons/location.svg' %}" alt="location-icon" class="icon-2">
                                Abuja
                            </div>
                            <div>
                                <img src="{% static 'icons/naira.svg' %}" alt="location-icon" class="icon-2">
                                40
                            </div>
                        </div>
                    </div>
                </div>
                <div class="poll-card">
                    <img src="{% static 'images/profile4.png' %}" alt="" class="poll-card-img">
                    <div>
                        <div class="poll-card-header">
                            <div class="poll-card-header-text">Mr and Mrs Unizik</div>
                            <div>
                                <p class="poll-card-header-num">2.4k</p>
                                <div>votes</div>
                            </div>
                        </div>
                        <div>
                            4th November, 2023
                        </div>
                        <div class="poll-card-bottom">
                            <div>
                                <img src="{% static 'icons/location.svg' %}" alt="location-icon" class="icon-2">
                                Abuja
                            </div>
                            <div>
                                <img src="{% static 'icons/naira.svg' %}" alt="location-icon" class="icon-2">
                                40
                            </div>
                        </div>
                    </div>
                </div>
                <div class="poll-card">
                    <img src="{% static 'images/profile4.png' %}" alt="" class="poll-card-img">
                    <div>
                        <div class="poll-card-header">
                            <div class="poll-card-header-text">Mr and Mrs Unizik</div>
                            <div>
                                <p class="poll-card-header-num">2.4k</p>
                                <div>votes</div>
                            </div>
                        </div>
                        <div>
                            4th November, 2023
                        </div>
                        <div class="poll-card-bottom">
                            <div>
                                <img src="{% static 'icons/location.svg' %}" alt="location-icon" class="icon-2">
                                Abuja
                            </div>
                            <div>
                                <img src="{% static 'icons/naira.svg' %}" alt="location-icon" class="icon-2">
                                40
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="load-more">Load more</div>
        </div>
    </section>
</body>
</html>